---
// Código Server Side Only - Momento de contruccion BUILD TIME
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list-response";
import MainLayout from "./MainLayout.astro";

const title = "Pokémon Static - Home";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon/");
const data = (await resp.json()) as PokemonListResponse;
let i = 0;
console.log("🚀 ~ data:", data);
---

<MainLayout title={title}>
  <h1 class="text-3xl">Listado de Pókemon</h1>
  <hr />

  <section
    aria-label="Listado de Pókemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
